.card {
    font-size: 18px;
    text-align: center;
    margin: 6px;
    cursor: pointer;
    perspective: 1000px;
    height: 39px;
    width: 170px;
}

.learned {
    .cardInner {
        transform: rotateY(180deg);
    }
}

.cardInner {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.cardFront,
.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 9px 12px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardFront {
    background-color: #fff;
    color: black;
}

.cardBack {
    background-color: #1BB95E;
    color: white;
    transform: rotateY(180deg);
}