.wordCard {
    padding: 0 15px;
    margin: 5px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s ease-in-out;
    text-decoration: none;
    color: #eee;
}

.wordCard:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.14);
}